In [144]:
import pandas as pd
import numpy as np
from datetime import datetime

In [145]:
caminho = r"C:\Users\55839\Desktop\DATASET PROJETO PORTFOLIO ODONTO.xlsx"
dCliente = pd.read_excel(
    caminho,
    sheet_name = "dCliente"
)

dProcedimento = pd.read_excel(
    caminho,
    sheet_name = "dProcedimento"
)

dVendedor = pd.read_excel(
    caminho,
    sheet_name = "dVendedor"
)

dClinica = pd.read_excel(
    caminho,
    sheet_name = "dClinica"
)

dDentista = pd.read_excel(
    caminho,
    sheet_name = "dDentista"
)

fMetas = pd.read_excel(
    caminho,
    sheet_name = "fMetas"
)

fVendas = pd.read_excel(
    caminho,
    sheet_name = "fVendas"
)

In [146]:
#TRATANDO DCLIENTE

In [147]:
#Ajustando index

In [148]:
dCliente.set_index("id_cliente", inplace=True)

In [149]:
#Colocando espaço após "cliente" na coluna "nome_cliente"

In [150]:
dCliente["nome_cliente"] = dCliente["nome_cliente"].str.replace("Cliente", "Cliente ")

In [151]:
#Colocando todas letras em maiusculo

In [152]:
for coluna in dCliente:
    if dCliente[coluna].dtypes == "object":
        dCliente[coluna] = dCliente[coluna].str.upper()

In [153]:
#Criando coluna "idade"

In [154]:
hoje = datetime.now()
dCliente["idade"] = np.floor((hoje - dCliente["data_nascimento"]).dt.days / 365)

In [155]:
#Alterando tipo de dado da coluna "idade"

In [156]:
dCliente["idade"] = dCliente["idade"].astype(int)

In [157]:
#Criando coluna "faixa_etaria"

In [158]:
faixas = [18, 24, 29, 34, 39, 44, 49, 54, 59, 64, 69 ,74]
rotulos = [
    "19-24", 
    "25-29",
    "30-34",
    "35-39",
    "40-44",
    "45-49",
    "50-54",
    "55-59",
    "60-64",
    "65-69",
    "70-74"]

In [159]:
dCliente["faixa_etaria"] = pd.cut(dCliente["idade"], bins=faixas, labels=rotulos, right=True)

In [160]:
#Alterando ordem das colunas

In [161]:
dCliente = dCliente.reindex(
    columns=["nome_cliente", "sexo", "data_nascimento", "idade", "faixa_etaria", "uf", "cidade"]
)

In [162]:
#Checando conformidade de tipo de dados

In [163]:
dCliente.dtypes

nome_cliente               object
sexo                       object
data_nascimento    datetime64[ns]
idade                       int32
faixa_etaria             category
uf                         object
cidade                     object
dtype: object

In [164]:
#Checando valores nulos

In [165]:
dCliente.isna().sum()

nome_cliente       0
sexo               0
data_nascimento    0
idade              0
faixa_etaria       0
uf                 0
cidade             0
dtype: int64

In [166]:
#Checando valores duplicados

In [167]:
dCliente.duplicated().sum()

0

In [168]:
dCliente.head(5)

,nome_cliente,sexo,data_nascimento,idade,faixa_etaria,uf,cidade
id_cliente,,,,,,,
1,CLIENTE 1,F,1955-05-05,68,65-69,PB,MACEIÓ
2,CLIENTE 2,M,2000-11-23,23,19-24,PB,CAMPINA GRANDE
3,CLIENTE 3,F,1953-04-20,71,70-74,PB,CAMPINA GRANDE
4,CLIENTE 4,F,2003-01-23,21,19-24,RN,SALVADOR
5,CLIENTE 5,F,1980-09-16,43,40-44,MA,NATAL

In [169]:
# -- dCLiente FINALIZADO --

In [170]:
#TRATANDO DPROCEDIMENTO

In [171]:
#Ajustando indices

In [172]:
dProcedimento.set_index("id_produto", inplace=True)

In [173]:
#Colocando letras em maiusculo

In [174]:
for coluna in dProcedimento:
    if dProcedimento[coluna].dtypes == "object":
        dProcedimento[coluna] = dProcedimento[coluna].str.upper()

In [175]:
#Ajustando ordem de visualização das colunas

In [176]:
dProcedimento = dProcedimento.reindex(
    columns=["especialidade", "nome_produto", "preco_unitario"]
)

In [177]:
#Checando valores nulos

In [178]:
dProcedimento.isna().sum()

especialidade     0
nome_produto      0
preco_unitario    0
dtype: int64

In [179]:
#Checando valores duplicados

In [180]:
dProcedimento.duplicated().sum()

0

In [181]:
#Checando conformidade de tipo de dados

In [182]:
dProcedimento.dtypes

especialidade     object
nome_produto      object
preco_unitario     int64
dtype: object

In [183]:
#Alterando tipo de dado da coluna "preco_unitario" para float

In [184]:
dProcedimento["preco_unitario"] = dProcedimento["preco_unitario"].astype(float)

In [185]:
dProcedimento.head(5)

           especialidade                     nome_produto  preco_unitario
id_produto
1            PERIODONTIA                       PROFILAXIA           110.0
2            PERIODONTIA               PROFILAXIA + FLÚOR           150.0
3            PERIODONTIA  RASPAGEM CORONORADICULAR ARCADA           100.0
4             DENTÍSTICA     RESTAURAÇÃO 1 FACE C/ RESINA           115.0
5             DENTÍSTICA    RESTAURAÇÃO 2 FACES C/ RESINA           155.0

In [186]:
## - dProcedimento FINALIZADA --

In [187]:
#TRATANDO dVendedor

In [188]:
#Ajustando índice

In [189]:
dVendedor.set_index("id_vendedor", inplace=True)

In [190]:
#Colocando letras em maiusculo

In [191]:
for coluna in dVendedor:
    if dVendedor[coluna].dtypes == "object":
        dVendedor[coluna] = dVendedor[coluna].str.upper()

In [192]:
#Checando valores nulos

In [193]:
dVendedor.isna().sum()

nome_vendedor    0
nome_gerente     0
gerente_id       0
id_clinica       0
url_vendedor     0
dtype: int64

In [194]:
#Checando valores duplicados

In [195]:
dVendedor.duplicated().sum()

0

In [196]:
#Checando conformidade de tipos de dados

In [197]:
dVendedor.dtypes

nome_vendedor    object
nome_gerente     object
gerente_id        int64
id_clinica        int64
url_vendedor     object
dtype: object

In [198]:
dVendedor.head(5)

,nome_vendedor,nome_gerente,gerente_id,id_clinica,url_vendedor
id_vendedor,,,,,
1,CATARINA MENDES,SOFIA SANTOS,1,1,HTTPS://1.BP.BLOGSPOT.COM/-2ZIRGQO4_MK/XI9TFLI...
2,RAFAEL OLIVEIRA,SOFIA SANTOS,1,1,HTTPS://1.BP.BLOGSPOT.COM/-BOHPSOQ6GG0/XI9TGAG...
3,THIAGO SANTOS,LUCAS PEREIRA,2,2,HTTPS://292AA00292A014763D1B-96A84504AED2B25FC...
4,RENAN PEREIRA,LUCAS PEREIRA,2,2,HTTPS://1.BP.BLOGSPOT.COM/-MNTHYUGBW7W/XI9TF3K...
5,MATIAS RODRIGUES,LARISSA SOUZA,3,3,HTTPS://292AA00292A014763D1B-96A84504AED2B25FC...

In [199]:
# -- dVendedor FINALIZADA --

In [200]:
#TRATANDO DCLINICA

In [201]:
#Ajustando índice

In [202]:
dClinica.set_index("id_clinica", inplace=True)

In [203]:
#Colocando letras em maiusculo

In [204]:
for coluna in dClinica:
    if dClinica[coluna].dtypes == "object":
        dClinica[coluna] = dClinica[coluna].str.upper()

In [205]:
#Separando coluna de endereco em duas outras - rua e numero

In [206]:
dClinica["rua"] = dClinica["endereco"].str.split(pat=",", expand=True)[0]

In [207]:
dClinica["numero"] = dClinica["endereco"].str.split(pat=",", expand=True)[1]

In [208]:
#Excluindo coluna endereco

In [209]:
dClinica.drop(columns="endereco", inplace=True)

In [210]:
#Ajustando ordem de visualização de todas as colunas

In [211]:
dClinica = dClinica.reindex(
    columns=["uf", "cidade", "rua", "numero", "tamanho_clinica_m2"]
)

In [212]:
#Checando conformidade de tipo de dados

In [213]:
dClinica.dtypes

uf                    object
cidade                object
rua                   object
numero                object
tamanho_clinica_m2     int64
dtype: object

In [214]:
#Alterando tipo de dado da coluna "numero" para int

In [215]:
dClinica["numero"] = dClinica["numero"].astype("int64")

In [216]:
dClinica.dtypes

uf                    object
cidade                object
rua                   object
numero                 int64
tamanho_clinica_m2     int64
dtype: object

In [217]:
#Checando dados nulos

In [218]:
dClinica.isna().sum()

uf                    0
cidade                0
rua                   0
numero                0
tamanho_clinica_m2    0
dtype: int64

In [219]:
#Checando dados duplicados

In [220]:
dClinica.duplicated().sum()

0

In [221]:
dClinica.head(5)

            uf       cidade                 rua  numero  tamanho_clinica_m2
id_clinica
1           RN        NATAL   RUA DAS PALMEIRAS     123                 300
2           AL       MACEIÓ   AV. DOS COQUEIROS      45                 200
3           PB  JOÃO PESSOA  PRAÇA DA LIBERDADE       1                 400
4           SE      ARACAJU        RUA DA SAÚDE      67                 150
5           PI     TERESINA  AV. DAS MANGUEIRAS      89                 250

In [222]:
# -- dClinica FINALIZADA --

In [223]:
#TRATANDO DDENTISTA

In [224]:
#Ajustando indice

In [225]:
dDentista.set_index("id_dentista", inplace=True)

In [226]:
#Colocando letras em maiusculo

In [227]:
for coluna in dDentista:
    if dDentista[coluna].dtypes == "object":
        dDentista[coluna] = dDentista[coluna].str.upper()

In [228]:
#Calculando idade dentista

In [229]:
hoje = datetime.now()

In [230]:
dDentista["idade"] = np.floor((hoje - dDentista["data_nascimento"]).dt.days / 365)

In [231]:
#Calculando anos de formado

In [232]:
dDentista["anos_formado"] = np.floor((hoje.year - dDentista["ano_formacao"]))

In [233]:
#Criando coluna de faixa_etaria_dentista

In [234]:
#"32-38"
#"38-44"
#"44-50"

delimitador = [31, 38, 44, 51]
rotulos = ["32-38", "38-44", "44-50"]

In [235]:
dDentista["fx_etaria_dentista"] = pd.cut(
    dDentista["idade"],
    bins=delimitador,
    labels=rotulos,
    right=False
)

In [236]:
#Criando coluna de faixa_etaria_anos_formado

In [237]:
#"9-15"
#"15-21"
#"21-27"

v2_delimitador = [8, 15, 21, 28]
v2_rotulos = ["9-15", "15-21", "21-27"]

In [238]:
dDentista["fx_etaria_anos_formado"] = pd.cut(
    dDentista["anos_formado"],
    bins=v2_delimitador,
    labels=v2_rotulos,
    right=False
)

In [239]:
#Renomeando colunas

In [240]:
dDentista = dDentista.rename(columns={
    "nome_dentista" : "nome",
    "especialidade_dentista" : "especialidade"
})

In [241]:
#Ajustando ordem das colunas

In [242]:
dDentista = dDentista.reindex(
    columns=[
        "nome", 
        "sexo",
        "especialidade", 
        "data_nascimento", 
        "idade", 
        "fx_etaria_dentista", 
        "ano_formacao", 
        "anos_formado", 
        "fx_etaria_anos_formado"
    ]
)

In [243]:
#Checando conformidade de tipo de dados

In [244]:
dDentista.dtypes

nome                              object
sexo                              object
especialidade                     object
data_nascimento           datetime64[ns]
idade                            float64
fx_etaria_dentista              category
ano_formacao                       int64
anos_formado                     float64
fx_etaria_anos_formado          category
dtype: object

In [245]:
#Checando dados nulos

In [246]:
dDentista.isna().sum()

nome                      0
sexo                      0
especialidade             0
data_nascimento           0
idade                     0
fx_etaria_dentista        0
ano_formacao              0
anos_formado              0
fx_etaria_anos_formado    0
dtype: int64

In [247]:
#Checando dados duplicados

In [248]:
dDentista.duplicated().sum()

0

In [249]:
dDentista.head(5)

,nome,sexo,especialidade,data_nascimento,idade,fx_etaria_dentista,ano_formacao,anos_formado,fx_etaria_anos_formado
id_dentista,,,,,,,,,
1,JOÃO SILVA,M,ENDODONTIA,1985-04-15,39.0,38-44,2010,14.0,9-15
2,MARIA SANTOS,F,DENTÍSTICA,1988-09-20,35.0,32-38,2012,12.0,9-15
3,PEDRO OLIVEIRA,M,PRÓTESE,1980-12-10,43.0,38-44,2005,19.0,15-21
4,ANA COSTA,F,PERIODONTIA,1976-07-25,47.0,44-50,2000,24.0,21-27
5,LUIZ PEREIRA,M,CIRURGIA,1983-03-30,41.0,38-44,2008,16.0,15-21

In [250]:
## -- dDentista FINALIZADA --

In [251]:
#TRATAND FMETAS

In [252]:
#Excluindo coluna "Unnamed: 0"

In [253]:
fMetas.drop(columns="Unnamed: 0", inplace=True)

In [254]:
#Transformando linhas em colunas

In [255]:
fMetas = fMetas.melt(id_vars="cdVendedor", var_name="Data", value_name="Valor")

In [256]:
fMetas.head(15)

    cdVendedor                 Data    Valor
0            1  2022-01-01 00:00:00  10000.0
1            2  2022-01-01 00:00:00   9000.0
2            3  2022-01-01 00:00:00   8000.0
3            4  2022-01-01 00:00:00   7000.0
4            5  2022-01-01 00:00:00  11000.0
5            6  2022-01-01 00:00:00  12000.0
6            7  2022-01-01 00:00:00   9500.0
7            8  2022-01-01 00:00:00   8500.0
8            9  2022-01-01 00:00:00   7500.0
9           10  2022-01-01 00:00:00   6500.0
10          11  2022-01-01 00:00:00  10500.0
11          12  2022-01-01 00:00:00  11500.0
12          13  2022-01-01 00:00:00  12500.0
13          14  2022-01-01 00:00:00  13500.0
14          15  2022-01-01 00:00:00   9500.0

In [257]:
#Checando conformidade de tipo de dados

In [258]:
fMetas.dtypes

cdVendedor      int64
Data           object
Valor         float64
dtype: object

In [259]:
#Alterando tipo de dado da coluna "data" para datetime

In [260]:
fMetas["Data"] = fMetas["Data"].astype("datetime64[ns]")

In [261]:
fMetas.dtypes

cdVendedor             int64
Data          datetime64[ns]
Valor                float64
dtype: object

In [262]:
#Checando dados nulos

In [263]:
fMetas.isna().sum()

cdVendedor    0
Data          0
Valor         0
dtype: int64

In [264]:
#Checando dados duplicados

In [265]:
fMetas.duplicated().sum()

0

In [266]:
# TRATANDO FVENDAS

In [267]:
#Ajustando indice para nfe

In [268]:
fVendas.set_index("nfe", inplace=True)

In [269]:
#Colocando letras em maiusuculo

In [270]:
for coluna in fVendas:
    if fVendas[coluna].dtypes == "object":
        fVendas[coluna] = fVendas[coluna].str.upper()

In [271]:
#Excluindo coluna qtd_parcelamento

In [272]:
fVendas.drop(columns="qtd_parcelamento", inplace=True)

In [ ]:
#Excluindo colunas "Unnamed: 11 e Unnamed: 12"

In [283]:
fVendas.drop(columns=["Unnamed: 11", "Unnamed: 12"], inplace=True)

In [273]:
#Checando valores nulos

In [284]:
fVendas.isna().sum()

data               0
id_cliente         0
id_procedimento    0
id_vendedor        0
id_clinica         0
id_dentista        0
qtd_vendida        0
valor_desconto     0
forma_pagamento    0
dtype: int64

In [275]:
#Checando valores duplicados

In [285]:
fVendas.duplicated().sum()

0

In [277]:
#Checando conformidade de tipos de dados

In [286]:
fVendas.dtypes

data               datetime64[ns]
id_cliente                  int64
id_procedimento             int64
id_vendedor                 int64
id_clinica                  int64
id_dentista                 int64
qtd_vendida                 int64
valor_desconto            float64
forma_pagamento            object
dtype: object

In [287]:
fVendas

,data,id_cliente,id_procedimento,id_vendedor,id_clinica,id_dentista,qtd_vendida,valor_desconto,forma_pagamento
nfe,,,,,,,,,
1,2022-01-03,396,11,18,9,42,2,10.0,DINHEIRO
2,2022-01-03,844,4,4,2,90,2,5.5,DINHEIRO
3,2022-01-03,713,20,10,5,100,2,2.0,CARTAO
4,2022-01-03,388,16,5,3,39,3,0.5,PIX
5,2022-01-03,706,22,5,3,2,3,6.0,DINHEIRO
...,...,...,...,...,...,...,...,...,...
4996,2023-12-28,861,10,13,7,20,2,8.5,CARTAO
4997,2023-12-28,503,17,5,3,37,2,1.0,CARTAO
4998,2023-12-28,673,12,20,10,29,1,0.5,DINHEIRO
4999,2023-12-28,254,15,4,2,65,5,6.0,PIX
5000,2023-12-29,453,21,12,6,52,5,1.0,PIX

In [280]:
lista_df = [dCliente, dProcedimento, dVendedor, dClinica, dDentista, fMetas, fVendas]
nomenclatura_arquivos = ["dCliente.csv", "dProcedimento.csv", "dVendedor.csv", "dClinica.csv", "dDentista.csv", "fMetas.csv", "fVendas.csv"]

In [281]:
import os

In [282]:
nome_pasta = "PASTA_TESTE_PYTHON"

if not os.path.exists(nome_pasta):
    os.makedirs(nome_pasta)
    
for df, nome_arquivo in zip(lista_df, nomenclatura_arquivos):
    caminho_arquivo = os.path.join(nome_pasta, nome_arquivo)
    df.to_csv(caminho_arquivo, index=False)